[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
mypy = "*"
pylint = "*"
did = {editable = true, path = "."}
rope = "*"

[packages]
numpy = "*"
scipy = "*"
flatbuffers = "*"
jupyter = "*"
matplotlib = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pytest = "*"
neo = "*"
alchemy-mock = "*"
sqlalchemy-utils = "*"
blake3 = "*"
astropy = "*"
python-dotenv = "*"
pymongo = "*"

[requires]
python_version = "3.8"
