numpy = "*"
scipy = "*"
flatbuffers = "*"
jupyter = "*"
matplotlib = "*"
SQLAlchemy==1.3.23
psycopg2-binary = "*"
pytest = "*"
neo = "*"
alchemy-mock = "*"
sqlalchemy-utils = "*"
blake3 = "*"
astropy = "*"
python-dotenv = "*"
pymongo = "*"